/*Estilos2*/
body{
    color: rgb(252, 250, 250);
    background-image: url("");
		background-size: 100vw 100vh;
		background-repeat:initial;
}

/*Tipografia de titulo(h1) y subtitulos(h2)*/
h1{
    color:rgb(19, 48, 179);
    font-size: 400%;
    text-align: center;
    margin: 0%;
    padding: 0%;
}
h2{
    color:rgb(124, 5, 5);
    font-size: 28px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}


/*Organizacion del texto el como esta acomadado*/
.Seccion1{
	font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center; 
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 40px;
}
.Seccion2{
	text-align: center;
    border-color:rgb(0, 0, 148);
    border-width: 5px;
    border-style: solid;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
        
    transition: transform 0.3s ease-in-out;
}

.Seccion2:hover{
	transform: scale(1.1);
}

.Seccion3{
	text-align: center;
    border-color:rgb(0, 0, 148);
    border-width: 5px;
    border-style: solid;
    margin: auto;
    padding-left: auto;
    padding-right: auto;
        
    transition: transform 0.3s ease-in-out;
}
.Seccion3:hover{
	transform: scale(1.1);
}

.TextoPrincipal{
	display: flex; 
    padding-right: 100px;
}

.Seccion1, .Seccion2{
    flex: 1;
}

.Seccion3, .Seccion1{
	flex: 1;
}
.TextoFinal{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	padding-left: 150px;
    padding-right: 150px;
}

/*Esta parte es la seccion del menu principal, se da formato al menu y a la tipografia*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}		
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #fff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
		text-align: center;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}	

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #012268b6;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

	.PiePagina{
		text-align: center;
		font: 1em sans-serif;
		font-size:  20px;
		padding: auto;
		margin-top: 30px;
		background-color:rgb(179, 19, 19);
	}


